@{
    ViewData["Title"] = "Add Recipe";
}

<div>
    <div>
        <h2>Add Recipe</h2>
        <div>
            <span>Title</span>
            <input />
        </div>
        <div>
            <span>Description</span>
            <div>
            <textarea>Test</textarea>
            </div>
        </div>
        <div>
            <span>Prep Time</span>
            <input />
        </div>
        <div>
            <span>Cook Time</span>
            <input />
        </div>
        <div>
            <span>Servings</span>
            <input />
        </div>
        <div>
            <span>Ingredients</span>
            <span class="add-ingredient">+</span>
            <div>
                <span>Name</span>
                <span>Amount</span>
            </div>            
            <div class="ingredient-list">
            </div>           
            <div>
                <span class="add-ingredient">+</span>
            </div>
        </div>
        <div>
            <span>Instructions</span>
            <div>
            <textarea>Test</textarea>
            </div>
        </div>
        <div>
            <input type="button" value="Upload Pic"/>
            <input type="button" value="Save"/>
            <input type="button" value="Cancel"/>
        </div>
    </div>
</div>
<script>
    var HookupRemoveClick = function(){
        $('span.remove-ingredient').off('click');
        $('span.remove-ingredient').on('click',function(){
            $(this).closest('div').remove();
        });
    };
    $('.add-ingredient').on('click', function(){
        var el = document.createElement('div');
        $(el).html('<input /><input /><span class="remove-ingredient">x</span>');
        $('div.ingredient-list').append(el);
        HookupRemoveClick();
    });
</script>
