@{
    ViewData["Title"] = "Add Recipe";
}

<div>
    <div>
        <h2>Add Recipe</h2>
        <div>
            <span>Title</span>
            <input />
        </div>
        <div>
            <span>Description</span>
            <div>
            <textarea>Test</textarea>
            </div>
        </div>
        <div>
            <span>Prep Time</span>
            <input />
        </div>
        <div>
            <span>Cook Time</span>
            <input />
        </div>
        <div>
            <span>Servings</span>
            <input />
        </div>
        <div>
            <span>Ingredients</span>
            <span>+</span>
            <div>
                <span>Name</span>
                <span>Amount</span>
            </div>            
            <div>
                <input />
                <input />
                <span>x</span>
            </div>           
            <div>
                <input />
                <input />
                <span>x</span>
            </div>            
            <div>
                <input />
                <input />
                <span>x</span>
            </div>
            <div>
                <span>+</span>
            </div>
        </div>
        <div>
            <span>Instructions</span>
            <div>
            <textarea>Test</textarea>
            </div>
        </div>
        <div>
            <input type="button" value="Upload Pic"/>
            <input type="button" value="Save"/>
            <input type="button" value="Cancel"/>
        </div>
    </div>
</div>
