@{
    ViewData["Title"] = "Add Recipe";
}

<div>
    <div>
        <h2>Add Recipe</h2>
        <div>
            <span>Title</span>
            <input id="Title"/>
        </div>
        <div>
            <span>Description</span>
            <div>
            <textarea id="Description">Test</textarea>
            </div>
        </div>
        <div>
            <span>Prep Time</span>
            <input id="PrepTime"/>
        </div>
        <div>
            <span>Cook Time</span>
            <input id="CookTime"/>
        </div>
        <div>
            <span>Servings</span>
            <input id="Servings"/>
        </div>
        <div>
            <span>Ingredients</span>
            <span class="add-ingredient clickable">+</span>
            <div>
                <span>Name</span>
                <span>Amount</span>
            </div>            
            <div class="ingredient-list">
            </div>           
            <div>
                <span class="add-ingredient clickable">+</span>
            </div>
        </div>
        <div>
            <span>Instructions</span>
            <div>
            <textarea id="Instructions">Test</textarea>
            </div>
        </div>
        <div>
            <input type="button" value="Upload Pic"/>
            <input type="button" value="Save" id="savebutton"/>
            <input type="button" value="Cancel"/>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/AddRecipe/AddRecipe.js"></script>
}